#welcome-section{
    background-image: url(/images/bilde3.jpg);
    background-size: 110% 900%;
    color: rgb(10, 0, 152);
    height: 25.5vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

#welcome-section h1{
    margin-top: 2em;
    font-family: sans-serif;
    font-size: 35px;
}

html, body{
    margin: 0px;
    padding: 0px;
}

.nav{
    position: fixed;
    margin: 0px;
    background-color: yellowgreen;
}

.nav ul{
    margin: 0;
}

.nav li{
    display: inline;
    margin: 0;
}

.nav a{
    display: inline-block;
    color: red;
    background-color: yellowgreen;
    padding: 0.5em;
    text-decoration: none;
}

.nav a:hover{
    background-color: rgba(187, 255, 0, 0.781);
}

.utplassering-nav{
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
}

.main-nav{
    position: fixed;
    width: 100%;
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
    font-family: sans-serif;
}

#about{
    display: grid;
    grid-template-areas:
    'header header header'
    'picture main main';
    height: 100vh;
    margin: 2em 10em 0 10em;
}

.about-image{
    grid-area: picture;
    border-radius: 50%;
    margin: 15px;
}

.about-content{
    grid-area: main;
    font-family: sans-serif;
    font-size: 15px;
}

.section-header{
    grid-area: header;

}

#footer{
    top: 2em;
    position: relative;
    margin: 10px;
    background-color: rgb(0, 0, 0);
}

#footer ul{
    margin: 1em;
}

#footer li{
    display: inline;
    margin: 1em;
}

#footer a{
    display: inline-flex;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 0.5em;
}

#footer a:hover{
    background-color: rgba(62, 63, 56, 0.781);
}

.utplassering-footer{
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
}

.main-footer{
    width: 100%;
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
    font-family: sans-serif;
}

#utbody{
    
}

.logo{
    position: static;
    top: 120px;
}

.utplasseringsbilder{
    top: 180px;
}