#welcome-section{
    background-image: url(/images/bilde3.jpg);
    background-size: cover;
    color: rgb(10, 0, 152);
    height: 6em;
    display: flex;
    justify-content: center;
    align-content: center;
}

#welcome-section h1{
    font-family: sans-serif;
    font-size: 35px;
}

.nav{
    position: fixed;
    margin: 10px;
    border: 2px solid rgba(0, 0, 0, 1);
}

.nav li{
    display: inline;
}